body * {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    margin: 0;
}

:root {
   /* --font-color: rgb(97, 123, 83); */
   /* --font-color: rgb(101, 123, 83); */
/*    --font-color: rgb(16, 59, 22); */
   --font-color: #299739;
    /* --font-color: #b5e51c; */
    /* --font-color: #76e51c; */
    --background-font-color: rgb(205,205,209);
    /*--background-font-color: rgb(76,76,76); */
    /*--background-font-color: rgb(117, 133, 115);*/
    /* --background-font-color: rgb(138, 132, 127); */

}
.container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
}
.navbar {
    margin: 0;
}
.navbar-custom {
    background-color: var(--background-font-color);
}
.nav-link {
    color: var(--font-color);
    font-size: 1.1em;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: lowercase;
}
.nav-link:hover {
    color: rgb(245, 241, 241);
}
.nav-item:hover {
    border-bottom: 2px solid var(--font-color); 
    padding-top: 2px;
    color: rgb(245, 241, 241);
}
.navbar-toggler-icon i {
    color: var(--font-color);
    font-size: 28px;
}
.navbar-toggler-icon i:hover {
    
}

.jumbotron {
    background: url("/images/crane5.jpg") no-repeat top left;
    opacity: .8;
    width: 100%;
    background-size: cover;
}

.jumbotron-fluid .container {
    padding: 30px;
    min-height: 500px;
    margin: 50px 0px;
}

hr {
    width: 35%;
    margin: auto;
    padding-top: 30px;
    margin-top: -20px
}
.card {
    border: none;
    margin-bottom: 50px;
    padding: 10px;
}
.card-header {
    text-align: center;
    border: none;
    background-color: white;
    text-transform: uppercase;
    margin-top: 20px;
}

#aboutMe, #services, #portfolio, #contact {
    padding-top: 55px;
    margin-top: -55px;
}

.aboutMe-text p, .aboutMe-text h4 {
margin: 0px 30px 0px 30px;
text-align: justify;
margin-right: 10px;

}
#imageProfile {
    margin-top: 20px;
}

.service-tile-headers > i{
    color: var(--font-color);
    margin-top: 10px;
    margin-bottom: 20px;    
}
.service-tile-headers > h4 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.5em;
}
.service-tile > p {
    text-align: justify;
    margin: 50px 20px;
}
#services-item-2 {
    background: rgb(245, 241, 241);
    border-radius: .5em;
}
/* HOMEPAGE MENU TILES */
#classic-tile, #new-tile, #custom-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid grey;
    }
    #classic-tile:hover, #new-tile:hover, #custom-tile:hover {
        box-shadow: 0 1px 5px 1px #cccccc;
    }
    
    #classic-tile {
        background: url("/images/gallery/P-Steel1-small.jpg") no-repeat;
        background-position: center;
        background-size: cover;    
    }
    #new-tile {
        background: url("/images/gallery/P-Pipes2-small.jpg") no-repeat;
        background-position: center;
        background-size: cover;
    }

    #custom-tile {
        background: url("/images/gallery/P-Conveyor1-small.jpg") no-repeat;
        background-position: center;
        background-size: cover;
    }
    #classic-tile span, #new-tile span, #custom-tile span {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        text-align: center;
        font-size: 1.3em;
        text-transform: uppercase;
        background-color: #000;
        color: #ffffff;
        opacity: .8;
    }
    #telephone-num, #social-media, #contact-info > h5, #office-telephone > p, #address > p {
        padding-left: 20px;
        padding-top: 5px;
    }
    #social-media > i {
        font-size: 1.5em;
    }

    #submit-btn {
        text-align: center;
    }
    #office-telephone > a {
        font-size: 1.1em;
    }

    .contact-text > h5, .form-header > h5 {
        font-size: 2em;
        padding-top: 35px;
        text-align: center;
    }
    #social-media a {
        font-size: 2em;  
        margin: 0 5px 0 0; 
        color: #000000; 
        text-decoration: none; 
        padding: 7px;
        text-align: center;
        border-radius: 50%;
    }
    #social-media a:hover {
        color:  var(--font-color); 
        border: 2px solid black;
    }
    #office-telephone a {
        font-size: 2em;
        padding: 0px 25px;
    }
    #office-telephone span {
        color: green;
    }
    #name, #email, #telephone, #message {
        box-shadow: 0 1px 5px 1px cccccc;
    }
    #contact-form, #contact-info {
        padding: 30px;
    }
    .contact-card {
        background: rgb(245, 241, 241);
        border-radius: .5em;
        margin-left: 20px;
    }

    /*FOOTER*/

    .panel-footer {
        background-color: rgb(82, 83, 85);
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
        margin: 0;
        text-align: center;
    }
    
    #personal-email, #address {
        padding: 20px 0px 5px 0px;
        line-height: 1.1em;
    }

    /* MODAL CONTENT */
    input[type=text], input[type=email], #messageModal {
        width: 100%;
        padding: 10px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    .submit{
        margin-top:15px;
    }
    .popup-btn a{
        top:200px;
        position:fixed;
        right:-50px;
        z-index: 1;
        transform: rotate(-90deg);
        padding:10px 20px 35px;
        height: 0px;
        background-color: var(--background-font-color);
        color: var(--font-color);
    }
    .popup-btn a:hover{
        text-decoration: none;
        color:#fff;
    }
    .form-part{
        padding: 20px 0px;
    }
    .modal-header{
        padding:10px 0px !important;
    }
    .modal {
        display: none; 
        position: fixed;
        z-index: 1 !important; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        width: 80%;
        padding: 20px;
        border:3px solid #000 !important;
    }
    .close {
        position: absolute;
        right:10px;
        top:8px;
        font-size: 35px;
        font-weight: bold;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
    }
    .close:hover,
    .close:focus {
        cursor: pointer;
    }
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }

    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
    }
    @keyframes animatezoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
    }

